/clientApplication/nbproject/private/
/serverApplication/nbproject/private/
/librariesApplication/nbproject/private/
/clientApplication/build/
/clientApplication/dist/
/librariesApplication/dist/
/librariesApplication/build/
/serverApplication/build/
/serverApplication/dist/