/*
    Created on: 13-Oct-2024, 11:16:14
    Author: Omar
*/

/* General styles */
/* dark-theme.css */
/* dark-theme.css */

/* Background colors */
.root {
    -fx-background-color: #2c2f33;
}

.label, .text-field, .button {
    -fx-text-fill: #ffffff; /* White text */
}
.image-view {
    -fx-opacity: 0.7;
}
.text-field {
    -fx-background-color: #23272a;
    -fx-border-color: #99aab5;
    -fx-border-width: 1px;
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 10px; 
}

.button {
    -fx-background-color: #7289da;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #677bc4;
}

/* Style for any additional components */
.combo-box, .password-field {
    -fx-background-color: #23272a;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-cell {
    -fx-background-color: #23272a;
    -fx-text-fill: #ffffff;
}

.combo-box .arrow {
    -fx-background-color: #99aab5;
}

.menu-bar {
    -fx-background-color: #2c2f33;
}
